{% extends 'imageprocessing/testdetail.html' %}
{% load staticfiles %}

{% block title %}Glasses{% endblock %}
{% block name1 %}Frederick{% endblock %}
{% block name2 %}Johannes{% endblock %}
{% block name3 %}T'Challa{% endblock %}

{% block content1 %}
    <span class="border border-primary">
    <img src="{% static 'images/Frederick.png' %}" class="img-rounded" />
    </span>
{% endblock %}

{% block content2 %}
    <img src="{% static 'images/Johannes.png' %}" />
{% endblock %}

{% block content3 %}
    <img src="{% static 'images/T\'Challa.png' %}" />
{% endblock %}
