{% extends 'homepage/base.html' %}


{% block body %}
    <div class="container">

      <div class="row">

        <div class="col-lg-4">
          <h1 class="my-4">Who's Got Glasses?</h1>
          <div class="list-group">
            <a href="{% url 'imageprocessing:fred' %}" class="list-group-item {% block whichactive1 %}{% endblock %}">Frederick</a>
            <a href="#" class="list-group-item {% block whichactive2 %}{% endblock %}" >Johannes</a>
            <a href="#" class="list-group-item {% block whichactive3 %}{% endblock %}">T'Challa</a>
          </div>
        </div>
        <!-- /.col-lg-3 -->
        {% block pagecontent %}
        Introduction to who's got glasses
        {% endblock %}
        <!-- /.col-lg-9 -->

      </div>

    </div>
{% endblock %}