.navbar-brand {
    font-family: 'Roboto', cursive;
}
body {
    background: white url("background.png");
    font-family:  'Roboto', cursive;
}
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 20px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #f95e6b !important;
}


